<nav>

    <a href="{% url 'home' %}">
        <i class='bx bxs-home' style='color: bisque' ></i>Home|
    </a>
    
    <a href="{% url 'posts:list' %}">
        <i class='bx bxs-news' style='color: bisque' ></i>
        Posts |
    </a>

    {% if user.is_authenticated %}
    <a href="{% url 'posts:new-post' %}">
        {% comment %} <i class='bx bx-pen' style='color:#ffffff' ></i> {% endcomment %}
        <i class='bx bxs-file-plus' style='color: bisque' ></i>
        New Post |
    </a>
    {% else %}
        <a href="{% url 'users:register' %}">
            <i class='bx bx-pen' style='color: bisque' ></i>
            Register |
        </a>
    {% endif %}




    <a href="{% url 'about' %}">
        <i class='bx bx-info-square' style='color: bisque' ></i>
        About Us |
    </a>

   

    

    {% if user.is_authenticated %}
       <span class="welcome">Welcome {{ user }} |</span> 
    {% else %}
        <a href="{% url 'users:login' %}">
            <i class='bx bx-lock-alt'></i>
            Log In |
        </a>
    {% endif %}
    
    {% if user.is_authenticated %}
    <form class="logout" action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button" aria-label="User Logout">Logout</button>
    </form>
    {% endif%}

</nav>