{% extends "base.html" %} 
{% load static  %}

{% block title %}
    Posts
{% endblock title %}


{% block content %}

<section>

    <h1>All Posts</h1>

    {% if posts %}
        {% for post in posts %}
            <div class="post_article">
                
                <h2 class="post_title">
                   <a href="{% url 'posts:page' slug=post.slug %}">
                    {{ post.title }}
                   </a>
                </h2>
                <p class="post_date">
                    Added: {{ post.date }} by {{ post.author }}
                 </p>
                <p class="post_body">
                    {{ post.body }}
                </p>
                
            </div>
        {% endfor %}
    {% endif %}

</section>

{% endblock content %}